img{
	width:30%;
	float:left;
	margin:1.66%;
}
body{
	background-color: grey ; 

}
p{
	color:white;
	font-family: 'Blinker', sans-serif;
	margin-left:3%;
	font-size:25px;
	border-bottom:2px white solid;
	width:20%;
	padding-bottom:10px;
	text-transform:uppercase;
}
p:hover{
	color:black;
	border-color:black;
}
#myPhoto{
	animation: slide 10s infinite;
}
@keyframes slide{
	0%{
		transform : translate3d(0px,0px,0px);
	}
	60%{
		transform : translate3d(800px,0px,0px);
		opacity: .5;
	}
	100%{
		transform : translate3d(0px,0px,0px);
	}
}